name: GitHub Profile 3D Contrib

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        with:
          username: priyanshu4492

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add profile-3d-contrib
          git commit -m "generate 3D contribution graph" || echo "No changes"
          git push
